.dropdown-menu {
  margin: 0.125rem 0 0;
  text-align: left;
  background-color: transparent !important;
  /* border: 0px !important; */
}
/* items del menu nav */
.nav-item {
  background-color: transparent !important;
}
.nav-item:hover {
  /* background-color: black !important; */
  background-color: transparent !important;
}

.navbar {
  padding: 20px !important;
}

/* para todos link links de la web */
a {
  text-decoration: none !important;
  text-decoration-color: transparent !important;
}
a:hover {
  text-decoration: underline !important;
  text-decoration-color: #ff6e40 !important;
}

/* para el dropdown del header normal */
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: #fafafa !important;
  border: 0;
}

element.style {
  font-size: 2.1rem;
  font-weight: bold;
}

/* apra algunos */
.nolinkeffect {
  text-decoration: dashed !important;
  text-decoration-color: red !important;
}

/* para botones de cambiar idioma */
.btn-outline-secondary {
  /* color: red !important; */
  border-color: transparent !important;
  background-color: #e6e6e6 !important;
}
.btn-outline-secondary:hover {
  color: #ffa06d !important;
  border-color: #6c757d !important;
  background-color: #001b27 !important;
}
